.wrapper {
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between;
    align-items: start;


}

.section {
    display: grid;
    align-items: start;
    justify-content: start;
}

.title {
    font-weight: bold;
}